<!DOCTYPE html>
<html>
<head>
  <title>FlapperNews</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="flapperNews">
    <div class="container-fluid">
        <ui-view></ui-view>
    </div>
  </div>

    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1>Stocks</h1>
        </div>

        
        <div class="row">
            <div class="col-xs-3">
                <!-- <ul style="height: 1000px;overflow:hidden; overflow-y:scroll;">
                    <li ng-repeat="stock in stocks" ng-click="onSelectStock(stock)">{{stock.symbol}}
                </ul> -->
                <select multiple="false" class="form-control" style="height: 800px;" ng-model="activeSymbol">
                    <option ng-repeat="stock in stocks">{{stock.symbol}}</option>
                </select>

            </div>
            <div class="col-xs-9">
                <i id="spinner" ng-show="isLoading" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                <table ng-show="!isLoading" class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th colspan="1">{{result.symbol}}</th>
                            <th>{{timestamp}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr ng-repeat="(key, value) in result">
                        <th>{{key}}</th>
                        <td>{{value}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    

    <!-- <div ng-repeat="post in posts | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(post)"></span>
      {{post.upvotes}}
      <span style="font-size:20px; margin-left:10px;">
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </span>
      <span>
        <a href="#/posts/{{$index}}">Comments</a>
      </span>
    </div> -->

    
  </script>

</body>
</html>